.marquees-wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.marquee {
    --gap: 1rem;
    display: flex;
}

.marquee__content {
    list-style: none;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;

    
    li{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 48px;
        color: rgb(255, 255, 255); 
        -webkit-text-stroke: 0.5px black;

    }

}

.scroll {
    animation: scroll 200s linear infinite;
}

.marquee:nth-child(even) .scroll {
    animation-direction: reverse;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}