footer {
    margin: auto;
    max-width: 1200px;
    margin-top: 100px;


    border-top: solid rgba(163, 163, 163, 0.377) 0.1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3rem;
    padding: 0 10px;
    
    display: flex;
    flex-direction: column;
    align-items: end;
}


