    .ocultarContacto {
        display: none;
    }

    .bloqueContacto {

        .mensajeFormulario {
            p {
                padding: 8px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 5rem;

                .spanResaltar {
                    font-weight: 600;
                    color: #0a5aa3;
                }
            }

        }

        .formulario {
            padding: 10px 20px;
            background: #f4f7f8;
            border-radius: 8px;



            .grupo1form {
                display: flex;
                flex-direction: column;

                .grupo1datosForm {
                    gap: 10px;

                    .nombreApellido {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }

                    .eMail {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }
                }

                .grupo2datosForm {
                    gap: 10px;

                    .direccion {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }

                    .numeroTelefono {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }
                }
            }
        }
    }

    input {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
    }

    label {
        display: inline-flex;
        margin-bottom: 8px;
        font-family: 'Inter';
        font-size: 1.8rem;
    }