header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 550px;
    padding: 0 0.8rem;
    height: 9vh;


    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 2.8rem;
    }

    .abrir-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;

    }


    nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        background-color: rgba(255, 255, 255, 0.918);
        border: solid 0.1px rgba(128, 128, 128, 0.199);
        z-index: 1;
        
        
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 25px 10px;
            margin: auto;
            gap: 10px;


            li {

                list-style-type: none;

                a {
                    text-decoration: none;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.6rem;
                }

            }
        }
    }

}

.visible{
    visibility: visible;
}

.hiddenButton{
    visibility: hidden;
}

